<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>University Guidor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
        integrity="sha512-tx5+1LWHez1QiaXlAyDwzdBTfDjX07GMapQoFTS74wkcPMsI3So0KYmFe6EHZjI8+eSG0ljBlAQc3PQ5BTaZtQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}" />
    <link rel="icon" type="image/x-icon" href="../static/images/chat_favicon.svg">
</head>

<body>
    <section class="container hero-section">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h1>Welcome to University Guider</h1>
                <p>Empowering Sri Lankan Students:<br>Your Gateway to Informed Higher Education Decisions.</p>
                <a class="" style="text-decoration: none; color: ffc107;" href="/maps">Click here to view univerity locations and google ratings</a>
                <hr>
                <p>Do you already have any experience? Or want to view others ideas about universities? &nbsp; <a href="http://127.0.0.1:5000/linkedin/linkedin_auth" class="btn btn-outline-warning btn-sm">Explore now!</a>
                </p>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="static/images/chat-bot.gif" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Elsa</span>
                                <p>Start to chat with Elsa!</p>
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body">
                    </div>

                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Start by saying Hi to Elsa!" autocomplete="off"
                                class="form-control type_msg" required />
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn"><i
                                        class="fas fa-location-arrow"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-transparent">
        <div class="container text-center">
            <span class="footer-text">© 2024 University Guider. A project by Group A 43 Students.</span>
        </div>
    </footer>
    <script>
        // Function to handle Explore now! button click
        function exploreNowClicked() {
            // Redirect to the Flask endpoint that triggers LinkedIn authorization
            window.location.href = "/linkedin_auth";
        }
    </script>
    <script src="static/app.js"></script>
    <script src="static/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>

</html>